<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Library Management System{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'ndex.css' %}">


</head>
<body>
    <div class="page">
        <header tabindex="0">Library</header>
        <div id="nav-container">
          <div class="bg"></div>
          <div class="button" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
          <div id="nav-content" tabindex="0">
            <ul>
              <li><a href="#0">Home</a></li>
              <li><a href="{% url 'sing' %}">Register</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>

              <li class="small"><a href="#0">Facebook</a><a href="#0">Instagram</a></li>
            </ul>
          </div>
        </div>
      
        <main>
            <div class="content">
              <h2>Library of Borai</h2>
              <p>This library is one of the oldest in the city, housing a collection of rare and modern books. It serves as a hub for knowledge and research.</p>
              <small>Address: 45 Central Street</small>
              
            </div>
          </main>
          
      </div>
</body>
</html>
